<template>
    <div class="navbar">
        <div class="container">
            <div>
                <a href="https://home.html"><img src="../assets/conectale.png" alt="Conectale" id="conectale" align="center"></a>
            </div>
            <div class="menu">
                <a href="https://home.html">Início</a>
                <a href="https://services.html">Serviços</a>
                <a class="link" href="https://contact.html">Contato</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Navbar'
}
</script>

<style scoped>
.navbar {
    background-color: rgba(255,255,255,0.99);
    box-shadow: 0 1px 9px rgba(0,0,0,0.05);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 10px 0px !important;
}

.menu a {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
}

.link {
    padding-right: 0 !important;
}

img {
    width: 220px;
}
</style>
