<template>
    <div class="home">
        <div class="container">

            <div class="descricao col-6">
                <h1>Soluções ágeisadddddddddddds e diretas para o seu empreendimento.</h1>
                <h2>Lorem Ipsum has been the industry's standard dummy the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h2>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Services'
}
</script>

<style scoped>
.home {
    background: linear-gradient(135deg, #fdfeff 50%, #e9f7fd 100%, #e9f7fd 0% );
}
.container {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    color: #323d47;
    font-weight: 600;
}
img {
    width: 385px;
}

</style>
