<template>
    <footer>
        <div class="container footer-top">
            <div class="row">
                <div class="logo col">
                    <a href="https://home.html"><img src="../../../assets/conectale_footer.png" alt="Conectale" id="conectale" align="center"></a>
                    <h5 class="col-8">Lorem Ipsum has been the industry's standard dummy the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book and scrambled it to make a type specimen book.</h5>
                </div>
                <div class="contatos col">
                    <h5><font-awesome-icon icon="coffee" /> <font-awesome-icon icon="vuejs" /> <font-awesome-icon icon="js" /><a href="">@conectale</a></h5>
                    <h5><a href="">+55 87 99639-8023</a></h5>
                    <h5><a href=""> conectale.pernambuco@gmail.com</a></h5>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <h6>Copyright © 2019 - All Rights Reserved</h6>
            <h6>Desenvolvido por <a href="">Brenda Matias</a></h6>
        </div>
    </footer>
</template>
<script>
export default {}
</script>

<style lang="scss" scoped>
    footer {
        line-height: 1.2;
        background: #404041;
        color: #818181;
    }
    h6, h5 {
        margin: 0px !important;
        padding: 00px !important;
    }
    h6 {
        font-size: 0.8rem;
    }
    h5 {
        font-size: 1rem;
        text-align: left;
    }
    .footer-top {
        padding: 15px 0px !important;
    }
    .footer-bottom {
        text-align: center;
        padding: 10px;
        background: #1b1b1b;
    }
    img {
        width: 220px;
    }
</style>