<template>
  <div id="app">
    <Navbar/>
    <div>
      <router-view/>
    </div>
    <MainFooter />
  </div>
</template>

<script>
import Navbar from './components/Navbar'
import MainFooter from './components/layout/footer/Main'

export default {
  name: 'App',
  components: {
    Navbar,
    MainFooter
  }
}
</script>

<style lang="sass">
  @import "./assets/sass/grid.scss";
  @import "./assets/sass/style.scss";
</style>