body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.col-6 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: lighter;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #8E9090;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #5A88D2;
    transition: all .25s ease-in-out;
}

img {
    vertical-align: middle;
    border-style: none;
}

h1, .h1 {
    font-size: 2.5rem;
}
  
h2, .h2 {
    font-size: 2rem;
}
  
h3, .h3 {
    font-size: 1.75rem;
}
  
h4, .h4 {
    font-size: 1.5rem;
}
  
h5, .h5 {
    font-size: 1.25rem;
}
  
h6, .h6 {
    font-size: 1rem;
}

.container {
    padding: 50px 0px 30px 0px !important;
}

